{% extends "base.html" %}
{% block title %}Create User{% endblock %}
{% block content %}
    <h1>Crear usuario</h1>
    <form method="post" action="/api/user/post">
        Nombre:
        <input type="text" name="name" required="true">
        <br>
        Email:
        <input type="email" name="email" required="true">
        <br>
        MSISDN:
        <input type="text" name="msisdn" required="true">
        <br>
        <input type="submit" value="Enviar">
    </form>
    {% if error %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
        </div>
    {% elif message %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
        </div>
    {% endif %}
{% endblock %}