{% extends "base.html" %}
{% block title %}Update User{% endblock %}
{% block content %}
    <h1>Editar usuario</h1>
    <form method="post" action="/api/user/update/{{ value }}">
        Id:
        <input type="text" class="form-control" name="id" id="disableInput" required="true" placeholder="{{ value }}" disabled="">
        <br>
        Nombre:
        <input type="text" class="form-control" name="name" required="true">
        <br>
        Email:
        <input type="email" class="form-control" name="email" required="true">
        <br>
        MSISDN:
        <input type="text" class="form-control" name="msisdn" required="true">
        <br>
        <input type="submit" class="btn btn-success" value="Actualizar">
    </form>
    <br>
    <a href="/api/user/delete/{{ value }}" class="btn btn-danger" method="post">Delete User</a>
    <br>
    {% if error %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
        </div>
    {% elif message %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
        </div>
    {% endif %}
{% endblock %}