{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
    {% if flag %}
            <tr>
                <td>{{ users.id }}</td>
                <td>{{ users.name }}</td> 
                <td>{{ users.email }}</td>
                <td><a href="/api/user/{{ users.id }}">Editar</a></td>
            </tr>
    {% else %}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td> 
                <td>{{ user.email }}</td>
                <td><a href="/api/user/{{ user.id }}">Editar</a></td>
            </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>
{% endblock %}