{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <table style="width:100%">    
    {% if flag %}
            <tr>
                <td>{{ users.id }}</td>
                <td>{{ users.name }}</td> 
                <td>{{ users.email }}</td>
            </tr>
    {% else %}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td> 
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}